
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: sans-serif;
}
#header{
  
  background-color: rgb(226, 99, 99);
  height: 70px;
  align-items: center;
 justify-content: space-between;
 display: flex;
 padding-left: 20px;
 color: white;
 padding-right: 20px;
 font-size: ;

}
#headerp{
  align-items: center;
 gap:20px;
  display: flex;

}
#button{
  padding:left,50px;top:300px ;
  font-size: 30px;
  background-color: royalblue;
  color: white;


}